<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dirt Rally 2.0 Tracker</title>
  <link rel="stylesheet" href="css/app.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ropa+Sans:ital@0;1&display=swap"
    rel="stylesheet">
</head>

<body id="app">
  <header>
    <!-- Hero -->
    <div class="hero text-center bg-image">
      <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1>Dirt Rally 2.0 Tracker</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Results modal -->
  <div class="modal" id="resultsModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Result</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating">
              <select class="form-select form-select-lg mb-3 h-100" id="resultStage" v-model="resultForm.stage"
                aria-label="Large select for stages">
                <option :value="null" disabled>Choose a stage</option>
                <option v-for="stage in filteredStages" :key="stage" :value="stage">{{stage}}</option>
              </select>
              <label for="resultStage">Stage</label>
            </div>
            <div class="row mb-3">
              <div class="form-floating col-4">
                <input type="number" class="form-control" id="floatingPosition" placeholder="20" min="1"
                  v-model="resultForm.position">
                <label for="floatingPosition" class="ms-2">Position</label>
              </div>
              <div class="form-floating col-8">
                <input type="date" class="form-control" id="floatingDateInput" placeholder="01/01/2000"
                  v-model="resultForm.date">
                <label for="floatingDateInput" class="ms-2">Result Date</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <div class="form-floating">
                  <select class="form-select form-select-sm h-100 fs-6 mb-3" id="weatherSelect"
                    v-model="resultForm.weather" aria-label="Small select for weather">
                    <option :value="null" disabled>Choose weather</option>
                    <option value="Clear">Clear/Sunny</option>
                    <option value="Cloudy">Cloudy</option>
                    <option value="Drizzle">Drizzle/Light rain</option>
                    <option value="Heavy">Heavy rain</option>
                    <option value="Night">Night</option>
                  </select>
                  <label for="weatherSelect">Weather</label>
                </div>
              </div>
              <div class="form-floating col-6">
                <input type="text" class="form-control" id="floatingTimeInput" placeholder="3:58.223"
                  v-model="resultForm.time">
                <label for="floatingTimeInput" class="ms-2">Time (mm:ss.fff)</label>
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Race notes" id="floatingTextareaNotes"
                v-model="resultForm.notes"></textarea>
              <label for="floatingTextareaNotes">Notes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="resultPB" v-model="resultForm.pb">
              <label class="form-check-label" for="resultPB">Personal best</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" @click="addResult" data-bs-dismiss="modal">Save results</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Events Modal -->
  <div class="modal" id="eventsModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ editingIndex !== null ? "Edit Event" : "Enter Event" }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row mb-3">
              <div class="col-6">
                <div class="form-floating">
                  <select class="form-select form-select-lg h-100 fs-6" id="eventCountrySelect"
                    v-model="eventForm.country" @change="eventForm.stage" aria-label="Large select for event country">
                    <option :value="null" disabled>Choose a country</option>
                    <option v-for="country in countries" :key="country" :value="country">{{ country }}</option>
                  </select>
                  <label for="eventCountrySelect">Country</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <select class="form-select form-select-lg h-100 fs-6" id="eventStageSelect" v-model="eventForm.stage"
                    :disabled="!eventForm.country" aria-label="Large select for event stage">
                    <option :value="null" disabled>Choose a stage</option>
                    <option v-for="stage in eventCountryStages" :key="stage" :value="stage">{{ stage }}</option>
                  </select>
                  <label for="eventStageSelect">Next Stage</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-floating col-7">
                <input type="date" class="form-control" id="floatingEventDateInput" placeholder="01/01/2000"
                  v-model="eventForm.date">
                <label for="floatingEventDateInput" class="ms-2">Date started</label>
              </div>
              <div class="col-5">
                <div class="form-floating">
                  <select class="form-select form-select-sm h-100 fs-6" id="rankSelect" v-model="eventForm.rank"
                    aria-label="Small select for rank">
                    <option :value="null" disabled>Choose rank</option>
                    <option value="Time-trials">Time Trials</option>
                    <option value="Open">Open</option>
                    <option value="Clubman">Clubman</option>
                    <option value="Semi-Pro">Semi-Pro</option>
                    <option value="Pro">Pro</option>
                    <option value="Elite">Elite</option>
                  </select>
                  <label for="rankSelect">Rank</label>
                </div>
              </div>
            </div>
            <div class="mb-3 form-floating">
              <select class="form-select form-select-lg h-100 fs-6 mb-3" id="carSelect" v-model="eventForm.car"
                aria-label="large select for car">
                <option :value="null" disabled>Choose car</option>
                <optgroup v-for="group in carGroups" :key="group.name" :label="group.name">
                  <option v-for="car in group.cars" :key="car.name" :value="car.name">{{car.name}}</option>
                </optgroup>
              </select>
              <label for="carSelect">Car</label>
            </div>
            <div class="row mb-3">
              <div class="col-8">
                <div class="form-floating">
                  <select class="form-select form-select-lg h-100 fs-6 mb-3" id="eventSelect" v-model="eventForm.type"
                    aria-label="large select for event type">
                    <option :value="null" disabled>Choose event</option>
                    <option value="Career Rally">Career Rally</option>
                    <option value="Career Rallycross">Career Rallycross</option>
                    <option value="Daily Challenge">Daily Challenge</option>
                    <option value="Weekly Challenge">Weekly Challenge</option>
                    <option value="Monthly Challenge">Monthly Challenge</option>
                    <option value="Daily AI Challenge">Daily AI Challenge</option>
                    <option value="Weekly AI Challenge">Weekly AI Challenge</option>
                    <option value="Monthly AI Challenge">Monthly AI Challenge</option>
                  </select>
                  <label for="eventSelect">Event type</label>
                </div>
              </div>
              <div class="form-floating col-4">
                <input type="number" class="form-control" id="floatingRaceNumber" placeholder="6" min="1"
                  v-model="eventForm.stageCount">
                <label for="floatingRaceNumber" class="ms-2"># of stages</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" @click="saveEvent" data-bs-dismiss="modal">Save Event</button>
        </div>
      </div>
    </div>
  </div>

  <main class="bg-light pb-5">
    <!-- Main container for all page content -->
    <div class="container pb-5">
      <div class="text-center pt-3 mb-3">
        <h2>Dashboard</h2>
      </div>
      <!-- First row: Current events & add event button -->
      <div class="row align-items-center my-3">
        <!-- Current Events table - Format buttons for adding events to the right on desktop, underneath on mobile -->
        <div class="accordion col-lg-8 mb-3" id="eventsAccordion">

          <!-- Accordion item (reiterated by Vue)-->
          <div class="accordion-item" v-for="(event, index) in events" :key="index">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                v-bind:data-bs-target="'#event-' + index">
                {{event.name}}
              </button>
            </h2>
            <div class="progress rounded-0">
              <div class="progress-bar" role="progressbar" v-bind:style="{width: event.progress + '%'}"
                aria-valuenow="{{event.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div v-bind:id="'event-' + index" class="accordion-collapse collapse" data-bs-parent="#eventsAccordion">
              <div class="accordion-body">
                <div class="row align-items-center">
                  <div class="col-10">
                    <p class="mb-1"><strong>{{event.place}}</strong> — {{event.car}}</p>
                    <p class="mb-1">Rank: {{event.rank}}</p>
                    <p class="mb-3">Next Stage: {{ event.nextStage }}, {{ event.country }}</p>
                  </div>
                  <div class="col-1">
                    <i class="bi bi-pencil fs-3" role="button" data-bs-toggle="modal" data-bs-target="#eventsModal"
                      @click="editEvent(index)"></i>
                  </div>
                  <div class="col-1">
                    <i class="bi bi-trash fs-3" role="button" @click="deleteEvent(index)"></i>
                  </div>
                </div>
                <button type="button" class="btn btn-custom w-100" data-bs-toggle="modal" data-bs-target="#resultsModal"
                  @click="prefillResultForEvent(event)">
                  + Add Result
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4 align-self-start">
          <button type="button" class="btn btn-custom w-100 py-5" data-bs-toggle="modal" data-bs-target="#eventsModal"
            @click="startAddEvent">+
            Add Event</button>
        </div>
      </div>
      <!-- Second row: Stages and Statistics -->
      <div class="row pb-4">
        <div class="col-lg-6 mt-4">
          <h2 class="text-center mt-3 mb-2">Stage Times</h2>
          <div class="form-floating">
            <select id="countrySelect" class="form-select form-select-lg mb-3 h-100" v-model="selectedCountry"
              aria-label="Large select for countries">
              <option v-bind:value="null">Choose a country to view times</option>
              <option v-for="country in countries" v-bind:key="country" v-bind:value="country">{{ country }}</option>
            </select>
            <label for="countrySelect">Country</label>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Stage</th>
                <th scope="col">Time</th>
                <th scope="col">Conditions</th>
                <th scope="col">PB</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="stageTableBody">
              <tr v-for="(result, index) in stageResults" :key="index">
                <td>{{result.stage}}</td>
                <td>{{result.time}}</td>
                <td>{{result.conditions}}</td>
                <td>{{result.pb ? "⭐" : ""}}</td>
                <td><i class="bi bi-trash" role="button" @click="deleteResult(result)"></i></td>
              </tr>
              <tr v-if="!selectedCountry">
                <td colspan="5" class="text-center text-muted">Choose a country to see stage times</td>
              </tr>
              <tr v-else-if="stageResults.length === 0">
                <td colspan="5" class="text-center text-muted">No data available</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-custom w-100 py-3" data-bs-toggle="modal"
            data-bs-target="#resultsModal">+ Add
            Result</button>
        </div>
        <div class="col-lg-6 mt-4">
          <h2 class="text-center mt-3 mb-2">Stage Chart</h2>
          <div class="form-floating">
            <select class="form-select form-select-lg mb-3 h-100" id="stageSelect" v-model="selectedStage"
              :disabled="!selectedCountry" aria-label="Large select for stages" disabled>
              <option v-bind:value="null" disabled>Choose a stage</option>
              <option v-for="stage in filteredStages" :key="stage" :value="stage">{{stage}}</option>
            </select>
            <label for="stageSelect">Stage</label>
          </div>
          <img src="src/chart-placeholder.svg" alt="Placeholder for chart of race times">
        </div>
      </div>
    </div>
  </main>
  <footer class="text-center">
    <p class="p-5 m-0">&copy; Zane Robe - 2026 - Dirt Rally 2.0 Tracker</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <!-- Loads the latest global build of Vue 3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/app.js"></script>
</body>

</html>